@import org.joda.time.DateTime
@import model.schedule.meta.EMode
@import model.schedule.data.TimeRange
@import org.fhs.spirit.scheduleparser.enumerations.EWeekdays
@import model.schedule.data.Lecture
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTimeZone
@import org.fhs.spirit.scheduleparser.enumerations.EDuration
@import views.html.schedule._
@(title: String, scheduleDate: DateTime, semestermode: EMode, timeranges: List[TimeRange],weekDays:List[EWeekdays] ,lectures:List[Lecture])(implicit webJarAssets: WebJarAssets, request: Request[_], m: MessagesApi)

@df = @{
  DateTimeFormat.forPattern("dd.MM.yyyy").withZone(DateTimeZone.forID("Europe/Berlin"))
}


@main(title){
  <div class="page-header">
    <h1 class="text-center" > @m("SCHEDULE.PERSONALSCHEDULE") </h1>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-inline">
      <div class="form-group">
        <label for="week-select" class="control-label"> @m("GENERAL.WEEKKIND") </label>
        <select class="form-control" id="week-select">
        @EDuration.values().map { d =>
          <option value="@d.name()"> @m(d.name()) </option>
        }
        </select>
      </div>
        <div class="form-group">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"> <span class="glyphicon glyphicon-trash"></span> </button>
        </div>
      </div>
      @icalpart()
    </div>
    <div class="col-md-4">
      <h4>
        <div> @m("SCHEDULE.WEEKBEGIN") <strong id="weekNumber"></strong> @m("SCHEDULE.WEEKMIDDLE") <span class="hidden text-warning" id="even"><strong>@m("EVEN")</strong></span> <span class="hidden text-primary" id="uneven"><strong>@m("UNEVEN")</strong></span> @m("WEEK")</div>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 hidden-xs hidden-sm">
    @desktopSchedulePart(timeranges, weekDays,lectures)
    </div>
    <div class="col-xs-12 visible-xs visible-sm">
    @mobileSchedulePart(isOnline = true ,days=weekDays,lectures=lectures, timeRanges =timeranges)
    </div>
    <div>
    @alternativesPart(lectures, weekDays)
    </div>
      <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
      <div class="modal-dialog" role="alertdialog">
        <div class="modal-content">
          <div class="modal-header text-center alert alert-danger">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteModalLabel"><span class="glyphicon glyphicon-warning-sign"></span>  DANGERZONE <span class="glyphicon glyphicon-warning-sign"></span></h4>
          </div>
          <div class="modal-body">
            @m("SCHEDULE.DELETEMESSAGE")
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> </button>
            <button type="button" class="btn btn-danger" id="deletePrivateData"><span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/helpers.js")"></script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/personalschedule.js")"></script>
  </div>
}
